html {
    background-color: blueviolet;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color:rgb(216, 29, 153);
    text-shadow: 3px 3px 1px rgb(128, 128, 128);
}
p {
    color: pink;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(173, 161, 170);
    padding: 0 20px 20px 20px;
    border: 3px solid grey;
}
img {
    display: block;
    margin: 0 auto;
}